:root {
  --primary: rgba(255, 190, 0, 1);
  --pure-black: rgba(0, 0, 0, 1);
  --black: rgba(43, 43, 43, 1);
  --dark-grey: rgba(102, 102, 102, 1);
  --grey: rgba(165, 163, 163, 1);
  --background-color: rgba(248, 248, 248, 1);
  --pure-white: rgba(255, 255, 255, 1);
  --orange: rgba(255, 61, 0, 1);
  --green: rgba(95, 183, 81, 1);
  --blue: rgba(81, 146, 183, 1);
  --card-title-font-family: "DMSans-Bold", Helvetica;
  --card-title-font-weight: 700;
  --card-title-font-size: 24px;
  --card-title-letter-spacing: 0px;
  --card-title-line-height: normal;
  --card-title-font-style: normal;
  --card-label-font-family: "DMSans-Regular", Helvetica;
  --card-label-font-weight: 400;
  --card-label-font-size: 12px;
  --card-label-letter-spacing: 0px;
  --card-label-line-height: normal;
  --card-label-font-style: normal;
  --product-name-font-family: "DMSans-Bold", Helvetica;
  --product-name-font-weight: 700;
  --product-name-font-size: 20px;
  --product-name-letter-spacing: 0px;
  --product-name-line-height: normal;
  --product-name-font-style: normal;
  --dummy-price-font-family: "DMSans-Bold", Helvetica;
  --dummy-price-font-weight: 700;
  --dummy-price-font-size: 14px;
  --dummy-price-letter-spacing: 0px;
  --dummy-price-line-height: normal;
  --dummy-price-font-style: normal;
  --card-description-font-family: "DMSans-Regular", Helvetica;
  --card-description-font-weight: 400;
  --card-description-font-size: 20px;
  --card-description-letter-spacing: 0px;
  --card-description-line-height: normal;
  --card-description-font-style: normal;
  --body-text-font-family: "DMSans-Bold", Helvetica;
  --body-text-font-weight: 700;
  --body-text-font-size: 16px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: normal;
  --body-text-font-style: normal;
  --drop-1: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  --drop-2: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
