.company-profile-TIP {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; 
}

.company-profile-TIP .div {
  background-color: #ffffff;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 8995px;
  position: relative; 
}

.company-profile-TIP .hero {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 848px;
  top: 124px;
  left: 0;
  object-fit: cover;
}

.company-profile-TIP .group {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 138px;
  top: 972px;
  left: 0;
  background-color: #ffffff;
}

.company-profile-TIP .frame {
  display: inline-flex;
  align-items: center;
  gap: 141px;
  position: relative;
  top: 26px;

}

.company-profile-TIP .imst {
  position: relative;
  width: 104px;
  height: 33.33px;
  object-fit: cover;
}

.company-profile-TIP .cloudsupply {
  position: relative;
  width: 54.7px;
  height: 65px;
  object-fit: cover;
}

.company-profile-TIP .LOGO-NEW-SUBURTEX-OK {
  position: relative;
  width: 74px;
  height: 74px;
  object-fit: cover;
}

.company-profile-TIP .bmm {
  position: relative;
  width: 86px;
  height: 86px;
  object-fit: cover;
}

.company-profile-TIP .img {
  position: relative;
  width: 71px;
  height: 71px;
  object-fit: cover;
}

.company-profile-TIP .overlap {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 3142px;
  top: 1110px;
  left: 0;
}

.company-profile-TIP .group-2 {
  position: absolute;
  width: 152px;
  height: 451px;
  top: 613px;
  left: 0;
  mix-blend-mode: color-dodge;
}

.company-profile-TIP .our-product {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 3142px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.company-profile-TIP .overlap-group {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 2202px;
  top: 0;
  left: 0;
}

.company-profile-TIP .web-development {
  position: absolute;
  width: 636px;
  height: 1028px;
  top: 1047px;
  left: 804px;
}

.company-profile-TIP .text-wrapper {
  position: absolute;
  top: 59px;
  left: 666px;
  font-weight: 700;
  color: #888888;
  text-align: center;
  line-height: 28.8px;
  white-space: nowrap;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 18px;
  letter-spacing: 0;
}

.company-profile-TIP .icon {
  position: absolute;
  width: 743px;
  height: 740px;
  top: 0;
  right: 0;
  object-fit: cover;
}

.company-profile-TIP .www {
  position: absolute;
  width: 623px;
  height: 1057px;
  top: 186px;
  left: 0;
}

.company-profile-TIP .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 153px;
  left: 270px;
}

.company-profile-TIP .create-your-project {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .span {
  color: #333333;
}

.company-profile-TIP .text-wrapper-2 {
  color: #000000;
}

.company-profile-TIP .text-wrapper-3 {
  color: #77acf1;
}

.company-profile-TIP .program-XFOCUS-lorem {
  position: relative;
  width: 578px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .text-wrapper-4 {
  font-weight: 600;
  color: #333333;
}

.company-profile-TIP .text-wrapper-5 {
  font-weight: 600;
  color: #fedb00;
}

.company-profile-TIP .text-wrapper-6 {
  color: #888888;
}

.company-profile-TIP .group-wrapper {
  position: absolute;
  width: 250px;
  height: 73px;
  top: 439px;
  left: 270px;
  background-color: var(--primaryneon-green);
  border-radius: 14px;
}

.company-profile-TIP .group-3 {
  position: relative;
  width: 178px;
  height: 29px;
  top: 22px;
  left: 37px;
}

.company-profile-TIP .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: var(--stateblack);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.company-profile-TIP .iconly-light-outline {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 152px;
}

.company-profile-TIP .iphone-pro {
  position: absolute;
  width: 214px;
  height: 525px;
  top: 95px;
  left: 1005px;
  transform: rotate(15deg);
}

.company-profile-TIP .overlap-group-2 {
  position: relative;
  width: 477px;
  height: 633px;
  top: -54px;
  left: -131px;
}

.company-profile-TIP .shadow {
  position: absolute;
  width: 343px;
  height: 563px;
  top: 35px;
  left: 67px;
  transform: rotate(-15deg);
  object-fit: cover;
}

.company-profile-TIP .main {
  position: absolute;
  width: 339px;
  height: 559px;
  top: 37px;
  left: 69px;
  transform: rotate(-15deg);
  object-fit: cover;
}

.company-profile-TIP .iphone-pro-2 {
  position: absolute;
  width: 304px;
  height: 530px;
  top: 50px;
  left: 77px;
  transform: rotate(-15deg);
  object-fit: cover;
}

.company-profile-TIP .overlap-wrapper {
  position: absolute;
  width: 682px;
  height: 447px;
  top: 1755px;
  left: 728px;
}

.company-profile-TIP .overlap-2 {
  position: relative;
  width: 680px;
  height: 447px;
  background-color: #ecf3fd;
  border-radius: 20px;
}

.company-profile-TIP .program-XFOCUS-x {
  position: absolute;
  width: 545px;
  top: 154px;
  left: 32px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .text-wrapper-8 {
  font-weight: 600;
  color: #888888;
}

.company-profile-TIP .group-4 {
  position: absolute;
  width: 369px;
  height: 100px;
  top: 22px;
  left: 32px;
}

.company-profile-TIP .text-wrapper-9 {
  position: absolute;
  top: 5px;
  left: 124px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .img-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}

.company-profile-TIP .div-wrapper {
  position: absolute;
  width: 680px;
  height: 136px;
  top: 311px;
  left: 0;
  background-image: url(./img/rectangle-161124106.png);
  background-size: 100% 100%;
}

.company-profile-TIP .group-5 {
  position: relative;
  width: 583px;
  height: 65px;
  top: 36px;
  left: 49px;
}

.company-profile-TIP .group-6 {
  position: absolute;
  width: 523px;
  height: 65px;
  top: 0;
  left: 0;
}

.company-profile-TIP .group-7 {
  position: absolute;
  width: 49px;
  height: 65px;
  top: 0;
  left: 0;
}

.company-profile-TIP .img-3 {
  left: 9px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
}

.company-profile-TIP .text-wrapper-10 {
  position: absolute;
  top: 50px;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-8 {
  position: absolute;
  width: 42px;
  height: 65px;
  top: 0;
  left: 79px;
}

.company-profile-TIP .key {
  left: 6px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
}

.company-profile-TIP .text-wrapper-11 {
  position: absolute;
  top: 50px;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-9 {
  position: absolute;
  width: 58px;
  height: 65px;
  top: 0;
  left: 151px;
}

.company-profile-TIP .growth {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 13px;
}

.company-profile-TIP .group-10 {
  position: absolute;
  width: 53px;
  height: 65px;
  top: 0;
  left: 239px;
}

.company-profile-TIP .production {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 10px;
}

.company-profile-TIP .group-11 {
  position: absolute;
  width: 63px;
  height: 65px;
  top: 0;
  left: 322px;
}

.company-profile-TIP .shopping-cart {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 16px;
}

.company-profile-TIP .group-12 {
  position: absolute;
  width: 48px;
  height: 65px;
  top: 0;
  left: 415px;
}

.company-profile-TIP .group-13 {
  position: absolute;
  width: 32px;
  height: 65px;
  top: 0;
  left: 493px;
}

.company-profile-TIP .img-4 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}

.company-profile-TIP .text-wrapper-12 {
  position: absolute;
  top: 50px;
  left: 2px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .iconly-light-outline-2 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 12px;
  left: 555px;
  background-image: url(./img/iconly-light-outline-arrow-right-2-4.svg);
  background-size: 100% 100%;
}

.company-profile-TIP .group-14 {
  position: absolute;
  width: 850px;
  height: 121px;
  top: 1522px;
  left: 297px;
}

.company-profile-TIP .text-wrapper-13 {
  position: absolute;
  top: 0;
  left: 372px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #888888;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.company-profile-TIP .p {
  position: absolute;
  top: 45px;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: var(--stateblack);
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-15 {
  position: absolute;
  width: 792px;
  height: 121px;
  top: 696px;
  left: 326px;
}

.company-profile-TIP .text-wrapper-14 {
  position: absolute;
  top: 0;
  left: 351px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #888888;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.company-profile-TIP .text-wrapper-15 {
  text-align: center;
  position: absolute;
  top: 45px;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: var(--stateblack);
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-16 {
  position: absolute;
  width: 1246px;
  height: 440px;
  top: 897px;
  left: 97px;
}

.company-profile-TIP .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.company-profile-TIP .overlap-group-wrapper {
  position: relative;
  width: 62px;
  height: 60px;
}

.company-profile-TIP .overlap-group-3 {
  position: relative;
  width: 52px;
  height: 60px;
  left: 4px;
  background-image: url(./img/polygon-2.svg);
  background-size: 100% 100%;
}

.company-profile-TIP .text-wrapper-16 {
  position: absolute;
  top: 18px;
  left: 22px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .text-wrapper-17 {
  position: relative;
  width: fit-content;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 628px;
}

.company-profile-TIP .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 76px;
  left: 628px;
}

.company-profile-TIP .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 152px;
  left: 628px;
}

.company-profile-TIP .frame-7 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 228px;
  left: 628px;
}

.company-profile-TIP .text-wrapper-18 {
  position: absolute;
  top: 18px;
  left: 15px;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  line-height: normal;
  font-family: "Plus Jakarta Sans", Helvetica;
  letter-spacing: 0;
}

.company-profile-TIP .frame-8 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 304px;
  left: 628px;
}

.company-profile-TIP .text-wrapper-19 {
  position: absolute;
  top: 18px;
  left: 18px;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  line-height: normal;
  font-family: "Plus Jakarta Sans", Helvetica;
  letter-spacing: 0;
}

.company-profile-TIP .frame-9 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 380px;
  left: 628px;
}

.company-profile-TIP .text-wrapper-20 {
  position: absolute;
  top: 18px;
  left: 16px;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  line-height: normal;
  font-family: "Plus Jakarta Sans", Helvetica;
  letter-spacing: 0;
}

.company-profile-TIP .frame-10 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 76px;
  left: 0;
}

.company-profile-TIP .text-wrapper-21 {
  position: absolute;
  top: 18px;
  left: 20px;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  line-height: normal;
  font-family: "Plus Jakarta Sans", Helvetica;
  letter-spacing: 0;
}

.company-profile-TIP .frame-11 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 152px;
  left: 0;
}

.company-profile-TIP .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 228px;
  left: 0;
}

.company-profile-TIP .frame-13 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 304px;
  left: 0;
}

.company-profile-TIP .frame-14 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 380px;
  left: 0;
}

.company-profile-TIP .group-17 {
  position: absolute;
  width: 682px;
  height: 447px;
  top: 1755px;
  left: 32px;
}

.company-profile-TIP .group-18 {
  position: absolute;
  width: 680px;
  height: 136px;
  top: 311px;
  left: 0;
  background-color: var(--stateblack);
}

.company-profile-TIP .group-19 {
  position: relative;
  width: 590px;
  height: 65px;
  top: 36px;
  left: 45px;
}

.company-profile-TIP .group-20 {
  position: absolute;
  width: 530px;
  height: 65px;
  top: 0;
  left: 0;
}

.company-profile-TIP .group-21 {
  position: absolute;
  width: 49px;
  height: 65px;
  top: 0;
  left: 395px;
}

.company-profile-TIP .group-22 {
  position: absolute;
  width: 58px;
  height: 65px;
  top: 0;
  left: 474px;
}

.company-profile-TIP .group-23 {
  position: absolute;
  width: 37px;
  height: 65px;
  top: 0;
  left: 0;
}

.company-profile-TIP .img-5 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 3px;
}

.company-profile-TIP .group-24 {
  position: absolute;
  width: 50px;
  height: 65px;
  top: 0;
  left: 67px;
}

.company-profile-TIP .group-25 {
  position: absolute;
  width: 71px;
  height: 65px;
  top: 0;
  left: 147px;
}

.company-profile-TIP .master-data {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 20px;
}

.company-profile-TIP .group-26 {
  position: absolute;
  width: 117px;
  height: 65px;
  top: 0;
  left: 248px;
}

.company-profile-TIP .gear {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 43px;
}

.company-profile-TIP .iconly-light-outline-3 {
  left: 562px;
  background-image: url(./img/iconly-light-outline-arrow-right-2-4.svg);
  position: absolute;
  width: 28px;
  height: 28px;
  top: 19px;
  background-size: 100% 100%;
}

.company-profile-TIP .group-27 {
  position: absolute;
  width: 682px;
  height: 401px;
  top: 2234px;
  left: 32px;
}

.company-profile-TIP .overlap-3 {
  position: relative;
  width: 680px;
  height: 401px;
  background-color: #ecf3fd;
  border-radius: 20px;
}

.company-profile-TIP .group-28 {
  position: absolute;
  width: 391px;
  height: 100px;
  top: 22px;
  left: 32px;
}

.company-profile-TIP .group-29 {
  position: absolute;
  width: 680px;
  height: 136px;
  top: 265px;
  left: 0;
}

.company-profile-TIP .group-30 {
  height: 136px;
  background-color: var(--stateblack);
}

.company-profile-TIP .group-31 {
  position: relative;
  width: 593px;
  height: 65px;
  top: 36px;
  left: 44px;
}

.company-profile-TIP .group-32 {
  position: absolute;
  width: 533px;
  height: 65px;
  top: 0;
  left: 0;
}

.company-profile-TIP .group-33 {
  position: relative;
  height: 65px;
}

.company-profile-TIP .group-34 {
  position: absolute;
  width: 42px;
  height: 65px;
  top: 0;
  left: 0;
}

.company-profile-TIP .key-2 {
  left: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
}

.company-profile-TIP .group-35 {
  position: absolute;
  width: 63px;
  height: 65px;
  top: 0;
  left: 72px;
}

.company-profile-TIP .group-36 {
  position: absolute;
  width: 46px;
  height: 65px;
  top: 0;
  left: 165px;
}

.company-profile-TIP .kitchen {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 7px;
}

.company-profile-TIP .group-37 {
  position: absolute;
  width: 48px;
  height: 65px;
  top: 0;
  left: 308px;
}

.company-profile-TIP .money {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 8px;
}

.company-profile-TIP .group-38 {
  position: absolute;
  width: 69px;
  height: 65px;
  top: 0;
  left: 386px;
}

.company-profile-TIP .profit {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 19px;
}

.company-profile-TIP .group-39 {
  position: absolute;
  width: 50px;
  height: 65px;
  top: 0;
  left: 485px;
}

.company-profile-TIP .group-40 {
  position: absolute;
  width: 37px;
  height: 65px;
  top: 0;
  left: 241px;
}

.company-profile-TIP .iconly-light-outline-4 {
  left: 565px;
  background-image: url(./img/iconly-light-outline-arrow-right-2-1.svg);
  position: absolute;
  width: 28px;
  height: 28px;
  top: 19px;
  background-size: 100% 100%;
}

.company-profile-TIP .group-41 {
  position: absolute;
  width: 682px;
  height: 401px;
  top: 2667px;
  left: 728px;
}

.company-profile-TIP .iconly-light-outline-5 {
  left: 565px;
  background-image: url(./img/iconly-light-outline-arrow-right-2.svg);
  position: absolute;
  width: 28px;
  height: 28px;
  top: 19px;
  background-size: 100% 100%;
}

.company-profile-TIP .group-42 {
  position: absolute;
  width: 682px;
  height: 401px;
  top: 2234px;
  left: 728px;
}

.company-profile-TIP .group-43 {
  position: absolute;
  width: 369px;
  height: 100px;
  top: 27px;
  left: 32px;
}

.company-profile-TIP .text-wrapper-22 {
  position: absolute;
  top: 0;
  left: 124px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-44 {
  position: absolute;
  width: 680px;
  height: 136px;
  top: 265px;
  left: 0;
  background-color: var(--stateblack);
}

.company-profile-TIP .group-45 {
  position: relative;
  width: 595px;
  height: 65px;
  top: 36px;
  left: 43px;
}

.company-profile-TIP .iconly-light-outline-6 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 19px;
  left: 567px;
}

.company-profile-TIP .group-46 {
  position: absolute;
  width: 535px;
  height: 65px;
  top: 0;
  left: 0;
}

.company-profile-TIP .group-47 {
  position: absolute;
  width: 68px;
  height: 65px;
  top: 0;
  left: 374px;
}

.company-profile-TIP .warehouse {
  left: 18px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
}

.company-profile-TIP .group-48 {
  position: absolute;
  width: 66px;
  height: 65px;
  top: 0;
  left: 0;
}

.company-profile-TIP .img-6 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 17px;
}

.company-profile-TIP .group-49 {
  position: absolute;
  width: 32px;
  height: 65px;
  top: 0;
  left: 92px;
}

.company-profile-TIP .text-wrapper-23 {
  position: absolute;
  top: 50px;
  left: 5px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-50 {
  position: absolute;
  width: 66px;
  height: 65px;
  top: 0;
  left: 208px;
}

.company-profile-TIP .group-51 {
  position: absolute;
  width: 48px;
  height: 65px;
  top: 0;
  left: 300px;
}

.company-profile-TIP .group-52 {
  position: absolute;
  width: 32px;
  height: 65px;
  top: 0;
  left: 150px;
}

.company-profile-TIP .group-53 {
  position: absolute;
  width: 69px;
  height: 65px;
  top: 0;
  left: 468px;
}

.company-profile-TIP .group-54 {
  position: absolute;
  width: 682px;
  height: 401px;
  top: 2667px;
  left: 32px;
}

.company-profile-TIP .overlap-4 {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 1174px;
  top: 4252px;
  left: 0;
}

.company-profile-TIP .our-project {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 1174px;
  top: 0;
  left: 0;
  background-color: #333333;
}

.company-profile-TIP .frame-15 {
  display: inline-flex;
  align-items: flex-start;
  gap: 13px;
  position: absolute;
  top: 354px;
  left: 320px;
}

.company-profile-TIP .div-wrapper-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  padding: 17px 20px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 30px;
  border: 1px solid;
  border-color: #ffffff;
}

.company-profile-TIP .text-wrapper-24 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.company-profile-TIP .web-developer {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  padding: 17px 20px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 30px;
  border: 1px solid;
  border-color: var(--primaryneon-green);
}

.company-profile-TIP .text-wrapper-25 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: var(--primaryneon-green);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.company-profile-TIP .frame-16 {
  display: inline-flex;
  align-items: flex-start;
  gap: 14px;
  position: absolute;
  top: 454px;
  left: 194px;
}

.company-profile-TIP .div-wrapper-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 17px 20px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 30px;
  border: 1px solid;
  border-color: #ffffff;
}

.company-profile-TIP .frame-17 {
  display: inline-flex;
  align-items: flex-start;
  gap: 14px;
  position: absolute;
  top: 546px;
  left: 312px;
}

.company-profile-TIP .frame-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 128px;
  left: 188px;
}

.company-profile-TIP .text-wrapper-26 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .text-wrapper-27 {
  position: relative;
  width: 1064px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .text-wrapper-28 {
  position: absolute;
  top: 59px;
  left: 670px;
  font-weight: 700;
  text-align: center;
  line-height: 28.8px;
  white-space: nowrap;
  font-family: "Plus Jakarta Sans", Helvetica;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
}

.company-profile-TIP .frame-19 {
  position: absolute;
  width: 1376px;
  height: 304px;
  top: 714px;
  left: 32px;
  overflow-x: scroll;
}

.company-profile-TIP .frame-20 {
  position: absolute;
  width: 353px;
  height: 295px;
  top: 0;
  left: 0;
  background-color: #77acf1;
  border-radius: 20px;
}

.company-profile-TIP .rectangle {
  position: absolute;
  width: 158px;
  height: 152px;
  top: 16px;
  left: 16px;
  object-fit: cover;
}

.company-profile-TIP .develope-my-salary {
  position: absolute;
  width: 148px;
  top: 15px;
  left: 189px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.company-profile-TIP .group-55 {
  position: absolute;
  width: 250px;
  height: 27px;
  top: 183px;
  left: 16px;
}

.company-profile-TIP .text-wrapper-29 {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.company-profile-TIP .group-56 {
  position: absolute;
  width: 81px;
  height: 27px;
  top: 0;
  left: 167px;
}

.company-profile-TIP .overlap-group-4 {
  position: relative;
  height: 27px;
  border-radius: 20px;
}

.company-profile-TIP .rectangle-2 {
  position: absolute;
  width: 81px;
  height: 27px;
  top: 0;
  left: 0;
  background-color: var(--stateblack);
  border-radius: 20px;
  opacity: 0.5;
}

.company-profile-TIP .group-57 {
  position: absolute;
  width: 62px;
  height: 16px;
  top: 6px;
  left: 11px;
}

.company-profile-TIP .ellipse {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 4px;
  left: 0;
  background-color: var(--statered);
  border-radius: 4px;
}

.company-profile-TIP .text-wrapper-30 {
  position: absolute;
  top: 0;
  left: 14px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.company-profile-TIP .text-wrapper-31 {
  position: absolute;
  width: 315px;
  top: 224px;
  left: 16px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-58 {
  position: absolute;
  width: 384px;
  height: 304px;
  top: 0;
  left: 369px;
}

.company-profile-TIP .overlap-5 {
  position: relative;
  width: 380px;
  height: 304px;
  background-color: #888888;
  border-radius: 20px;
}

.company-profile-TIP .text-wrapper-32 {
  width: 315px;
  top: 225px;
  left: 22px;
  color: #ffffff;
  position: absolute;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .develope-my-salary-2 {
  position: absolute;
  width: 148px;
  top: 28px;
  left: 189px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.company-profile-TIP .group-59 {
  position: absolute;
  width: 179px;
  height: 27px;
  top: 190px;
  left: 22px;
}

.company-profile-TIP .group-60 {
  position: absolute;
  width: 64px;
  height: 27px;
  top: 0;
  left: 113px;
  background-color: #33333380;
  border-radius: 20px;
}

.company-profile-TIP .group-61 {
  position: relative;
  width: 46px;
  height: 16px;
  top: 6px;
  left: 10px;
}

.company-profile-TIP .text-wrapper-33 {
  position: absolute;
  top: 0;
  left: 18px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.company-profile-TIP .iconly-bold-tick {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 2px;
  left: 0;
}

.company-profile-TIP .group-62 {
  position: absolute;
  width: 384px;
  height: 304px;
  top: 0;
  left: 765px;
}

.company-profile-TIP .group-63 {
  position: absolute;
  width: 384px;
  height: 304px;
  top: 0;
  left: 1161px;
}

.company-profile-TIP .our-condition {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 1071px;
  top: 5515px;
  left: 0;
  background-color: #ffffff;
}

.company-profile-TIP .text-wrapper-34 {
  position: absolute;
  top: 59px;
  left: 658px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #888888;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.company-profile-TIP .text-wrapper-35 {
  position: absolute;
  top: 812px;
  left: 99px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #888888;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.company-profile-TIP .overlap-6 {
  position: absolute;
  width: 659px;
  height: 712px;
  top: 125px;
  left: 767px;
}

.company-profile-TIP .ellipse-2 {
  position: absolute;
  width: 632px;
  height: 632px;
  top: 40px;
  left: 9px;
  object-fit: cover;
}

.company-profile-TIP .group-64 {
  position: absolute;
  width: 659px;
  height: 672px;
  top: 40px;
  left: 0;
}

.company-profile-TIP .overlap-group-5 {
  position: relative;
  width: 249px;
  height: 201px;
  top: 468px;
  left: 375px;
}

.company-profile-TIP .ellipse-3 {
  position: absolute;
  width: 127px;
  height: 136px;
  top: 0;
  left: 113px;
}

.company-profile-TIP .ellipse-4 {
  position: absolute;
  width: 199px;
  height: 168px;
  top: 15px;
  left: 41px;
}

.company-profile-TIP .ellipse-5 {
  position: absolute;
  width: 249px;
  height: 179px;
  top: 22px;
  left: 0;
}

.company-profile-TIP .group-65 {
  position: absolute;
  width: 659px;
  height: 672px;
  top: 0;
  left: 0;
}

.company-profile-TIP .overlap-7 {
  position: relative;
  width: 249px;
  height: 201px;
  top: 3px;
  left: 375px;
}

.company-profile-TIP .ellipse-6 {
  position: absolute;
  width: 127px;
  height: 136px;
  top: 65px;
  left: 113px;
}

.company-profile-TIP .ellipse-7 {
  position: absolute;
  width: 199px;
  height: 168px;
  top: 18px;
  left: 41px;
}

.company-profile-TIP .ellipse-8 {
  position: absolute;
  width: 249px;
  height: 179px;
  top: 0;
  left: 0;
}

.company-profile-TIP .frame-21 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 236px;
  left: 99px;
}

.company-profile-TIP .about-PT-tiga-inti {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .PT-tiga-inti-perkasa {
  position: relative;
  width: 554px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .text-wrapper-36 {
  font-weight: 600;
  color: #77acf1;
}

.company-profile-TIP .frame-22 {
  display: flex;
  width: 1309px;
  align-items: flex-start;
  gap: 60px;
  position: absolute;
  top: 877px;
  left: 99px;
  overflow-x: scroll;
}

.company-profile-TIP .frame-23 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.company-profile-TIP .text-wrapper-37 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: var(--stateblack);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.company-profile-TIP .text-wrapper-38 {
  position: relative;
  width: 250px;
  color: #888888;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-66 {
  position: absolute;
  width: 250px;
  height: 73px;
  top: 599px;
  left: 100px;
  background-color: var(--primaryneon-green);
  border-radius: 14px;
}

.company-profile-TIP .contact-us {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 585px;
  top: 8410px;
  left: 0;
  background-color: #ffffff;
}

.company-profile-TIP .overlap-8 {
  position: relative;
  height: 585px;
  background-color: var(--stateblack);
}

.company-profile-TIP .group-67 {
  position: absolute;
  width: 1211px;
  height: 301px;
  top: 78px;
  left: 115px;
}

.company-profile-TIP .group-68 {
  position: absolute;
  width: 328px;
  height: 301px;
  top: 0;
  left: 0;
}

.company-profile-TIP .group-69 {
  position: absolute;
  width: 294px;
  height: 80px;
  top: 0;
  left: 0;
}

.company-profile-TIP .whatsapp-image {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.company-profile-TIP .text-wrapper-39 {
  position: absolute;
  top: 18px;
  left: 88px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .your-business-is-our {
  position: absolute;
  top: 97px;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .line {
  position: absolute;
  width: 292px;
  height: 1px;
  top: 176px;
  left: 0;
  object-fit: cover;
}

.company-profile-TIP .jl-adi-sucipto-no {
  position: absolute;
  top: 209px;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-70 {
  position: absolute;
  width: 183px;
  height: 20px;
  top: 281px;
  left: 0;
}

.company-profile-TIP .text-wrapper-40 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: var(--primaryneon-green);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .arrow {
  position: absolute;
  width: 82px;
  height: 7px;
  top: 6px;
  left: 100px;
  object-fit: cover;
}

.company-profile-TIP .frame-24 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 20px;
  left: 785px;
}

.company-profile-TIP .text-wrapper-41 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .text-wrapper-42 {
  position: relative;
  width: fit-content;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .frame-25 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 20px;
  left: 390px;
}

.company-profile-TIP .frame-26 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.company-profile-TIP .iconly-bold-arrow {
  position: relative;
  width: 20px;
  height: 20px;
}

.company-profile-TIP .frame-27 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.company-profile-TIP .text-wrapper-43 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .frame-28 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 20px;
  left: 594px;
}

.company-profile-TIP .frame-wrapper {
  position: relative;
  width: 98px;
  height: 62px;
}

.company-profile-TIP .frame-29 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.company-profile-TIP .frame-30 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 20px;
  left: 1007px;
}

.company-profile-TIP .frame-31 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  position: relative;
  flex: 0 0 auto;
}

.company-profile-TIP .group-71 {
  position: relative;
  width: 156px;
  height: 24px;
}

.company-profile-TIP .text-wrapper-44 {
  position: absolute;
  top: 1px;
  left: 34px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .img-7 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

.company-profile-TIP .group-72 {
  position: relative;
  width: 206px;
  height: 24px;
  margin-right: -2px;
}

.company-profile-TIP .group-73 {
  position: relative;
  width: 190px;
  height: 24px;
}

.company-profile-TIP .text-wrapper-45 {
  position: absolute;
  top: 0;
  left: 34px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-74 {
  position: absolute;
  width: 599px;
  height: 23px;
  top: 445px;
  left: 423px;
}

.company-profile-TIP .solar-copyright {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 95px;
}

.company-profile-TIP .text-wrapper-46 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .text-wrapper-47 {
  position: absolute;
  top: 0;
  left: 123px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .by-using-the-website {
  position: absolute;
  top: 491px;
  left: 316px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .join-with-us {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 718px;
  top: 7692px;
  left: 0;
  background-color: #ffffff;
  overflow: hidden;
}

.company-profile-TIP .group-75 {
  width: 1442px;
  height: 718px;
}

.company-profile-TIP .overlap-9 {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 718px;
  background-image: url(./img/rectangle-24707.png);
  background-size: 100% 100%;
}

.company-profile-TIP .send-your-project {
  position: absolute;
  top: 164px;
  left: 325px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-76 {
  position: absolute;
  width: 459px;
  height: 68px;
  top: 56px;
  left: 492px;
}

.company-profile-TIP .the-simple-way-to-wrapper {
  position: relative;
  width: 457px;
  height: 68px;
  background-color: #ffffff33;
  border-radius: 12px;
  backdrop-filter: blur(50px) brightness(100%);
  -webkit-backdrop-filter: blur(50px) brightness(100%);
}

.company-profile-TIP .the-simple-way-to {
  position: absolute;
  top: 22px;
  left: 28px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-77 {
  position: absolute;
  width: 771px;
  height: 92px;
  top: 388px;
  left: 316px;
}

.company-profile-TIP .overlap-10 {
  position: relative;
  width: 769px;
  height: 92px;
  background-color: #ffffff;
  border-radius: 20px;
}

.company-profile-TIP .group-78 {
  position: absolute;
  width: 259px;
  height: 80px;
  top: 6px;
  left: 504px;
  background-color: var(--primaryneon-green);
  border-radius: 14px;
}

.company-profile-TIP .group-79 {
  position: relative;
  width: 187px;
  height: 24px;
  top: 28px;
  left: 37px;
}

.company-profile-TIP .iconly-light-outline-7 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 161px;
}

.company-profile-TIP .text-wrapper-48 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .text-wrapper-49 {
  position: absolute;
  top: 35px;
  left: 34px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: var(--stateblack);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-80 {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 89px;
  top: 5426px;
  left: 0;
  background-color: #77acf1;
}

.company-profile-TIP .group-81 {
  position: absolute;
  width: 303px;
  height: 29px;
  top: 30px;
  left: 32px;
}

.company-profile-TIP .text-wrapper-50 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.company-profile-TIP .group-82 {
  position: absolute;
  width: 204px;
  height: 55px;
  top: 17px;
  left: 1206px;
}

.company-profile-TIP .overlap-group-6 {
  position: relative;
  width: 202px;
  height: 55px;
  background-color: #f0ff42;
  border-radius: 40px;
  box-shadow: var(--m);
}

.company-profile-TIP .text-wrapper-51 {
  position: absolute;
  top: 13px;
  left: 31px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: var(--stateblack);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.company-profile-TIP .group-83 {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 229px;
  top: 6586px;
  left: 0;
  background-image: url(./img/rectangle-28.svg);
  background-size: 100% 100%;
}

.company-profile-TIP .group-84 {
  position: absolute;
  width: 722px;
  height: 128px;
  top: 51px;
  left: 58px;
}

.company-profile-TIP .text-wrapper-52 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: 128px;
  white-space: nowrap;
}

.company-profile-TIP .text-wrapper-53 {
  position: absolute;
  width: 533px;
  top: 39px;
  left: 185px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-85 {
  position: absolute;
  width: 490px;
  height: 128px;
  top: 51px;
  left: 858px;
}

.company-profile-TIP .text-wrapper-54 {
  position: absolute;
  top: 52px;
  left: 200px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .our-testimonial {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 877px;
  top: 6815px;
  left: 0;
  background-color: #fafafa;
}

.company-profile-TIP .text-wrapper-55 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .text-wrapper-56 {
  position: relative;
  width: 1064px;
  color: #888888;
  font-size: 18px;
  text-align: center;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .text-wrapper-57 {
  position: absolute;
  top: 59px;
  left: 652px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #888888;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.company-profile-TIP .overlap-11 {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 262px;
  top: 615px;
  left: 0;
  background-color: #77acf1;
}

.company-profile-TIP .group-86 {
  position: relative;
  width: 1318px;
  height: 184px;
  top: 39px;
  left: 92px;
}

.company-profile-TIP .frame-32 {
  display: flex;
  width: 1019px;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  top: 0;
  left: 297px;
}

.company-profile-TIP .text-wrapper-58 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 700;
  color: var(--primaryneon-green);
  font-size: 32px;
  line-height: 51.2px;
  text-decoration: underline;
  white-space: nowrap;
  font-family: "Plus Jakarta Sans", Helvetica;
  letter-spacing: 0;
}

.company-profile-TIP .frame-33 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.company-profile-TIP .text-wrapper-59 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.company-profile-TIP .text-wrapper-60 {
  position: relative;
  width: 313px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .frame-34 {
  display: inline-flex;
  flex-direction: column;
  height: 181px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.company-profile-TIP .our-top-successed {
  position: absolute;
  top: 39px;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-87 {
  position: absolute;
  width: 473px;
  height: 256px;
  top: 324px;
  left: 32px;
  background-color: var(--greyscalewhite);
  border-radius: 20px;
}

.company-profile-TIP .overlap-12 {
  position: absolute;
  width: 393px;
  height: 182px;
  top: 24px;
  left: 62px;
  background-color: var(--greyscalesnow-drift);
  border-radius: 10px;
}

.company-profile-TIP .group-88 {
  position: relative;
  width: 104px;
  height: 16px;
  top: 8px;
  left: 8px;
}

.company-profile-TIP .text-wrapper-61 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Catamaran", Helvetica;
  font-weight: 400;
  color: var(--greyscalegrey);
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .ellipse-9 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 24px;
  left: 18px;
}

.company-profile-TIP .group-89 {
  position: absolute;
  width: 393px;
  height: 25px;
  top: 219px;
  left: 62px;
}

.company-profile-TIP .group-90 {
  position: absolute;
  width: 152px;
  height: 16px;
  top: 5px;
  left: 0;
}

.company-profile-TIP .group-91 {
  position: absolute;
  width: 43px;
  height: 16px;
  top: 0;
  left: 0;
}

.company-profile-TIP .img-8 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
}

.company-profile-TIP .text-wrapper-62 {
  position: absolute;
  top: 0;
  left: 22px;
  font-family: "Catamaran", Helvetica;
  font-weight: 400;
  color: var(--greyscalegrey);
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-92 {
  position: absolute;
  width: 51px;
  height: 16px;
  top: 0;
  left: 103px;
}

.company-profile-TIP .group-93 {
  position: absolute;
  width: 48px;
  height: 16px;
  top: 0;
  left: 49px;
}

.company-profile-TIP .group-94 {
  position: absolute;
  width: 66px;
  height: 25px;
  top: 0;
  left: 329px;
}

.company-profile-TIP .overlap-group-7 {
  position: relative;
  width: 64px;
  height: 25px;
  background-color: #77acf1;
  border-radius: 28px;
}

.company-profile-TIP .text-wrapper-63 {
  position: absolute;
  top: 5px;
  left: 20px;
  font-family: "Catamaran", Helvetica;
  font-weight: 500;
  color: var(--greyscalewhite);
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .frame-35 {
  position: absolute;
  width: 879px;
  height: 256px;
  top: 324px;
  left: 529px;
  overflow-x: scroll;
}

.company-profile-TIP .group-95 {
  position: absolute;
  width: 455px;
  height: 256px;
  top: 0;
  left: 0;
}

.company-profile-TIP .group-96 {
  width: 457px;
  height: 256px;
}

.company-profile-TIP .overlap-group-8 {
  position: relative;
  width: 455px;
  height: 256px;
  background-color: #ffffff;
  border-radius: 20px;
}

.company-profile-TIP .group-97 {
  position: absolute;
  width: 308px;
  height: 86px;
  top: 34px;
  left: 31px;
}

.company-profile-TIP .group-98 {
  position: absolute;
  width: 86px;
  height: 86px;
  top: 0;
  left: 0;
  background-image: url(./img/ellipse-20-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.company-profile-TIP .group-99 {
  position: absolute;
  width: 208px;
  height: 47px;
  top: 19px;
  left: 102px;
}

.company-profile-TIP .group-100 {
  position: absolute;
  width: 206px;
  height: 16px;
  top: 31px;
  left: 0;
}

.company-profile-TIP .frame-36 {
  display: inline-flex;
  align-items: center;
  gap: 6.22px;
  position: relative;
}

.company-profile-TIP .text-wrapper-64 {
  position: relative;
  width: fit-content;
  margin-top: -0.62px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #77acf1;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.company-profile-TIP .ellipse-10 {
  position: relative;
  width: 2.49px;
  height: 2.49px;
  background-color: #77acf1;
  border-radius: 1.24px;
}

.company-profile-TIP .text-wrapper-65 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: var(--stateblack);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.company-profile-TIP .text-wrapper-66 {
  width: 379px;
  top: 152px;
  left: 31px;
  color: var(--stateblack);
  position: absolute;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .group-101 {
  position: absolute;
  width: 455px;
  height: 256px;
  top: 0;
  left: 479px;
}

.company-profile-TIP .group-102 {
  background-image: url(./img/ellipse-20.png);
  position: absolute;
  width: 86px;
  height: 86px;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.company-profile-TIP .group-103 {
  position: absolute;
  width: 455px;
  height: 256px;
  top: 0;
  left: 958px;
}

.company-profile-TIP .group-104 {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  height: 124px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-9.png);
  background-size: 100% 100%;
}

.company-profile-TIP .group-105 {
  position: absolute;
  width: 226px;
  height: 56px;
  top: 42px;
  right: 0; /* Mengatur right menjadi 0 untuk memindahkan ke paling ujung kanan */
}

.company-profile-TIP .overlap-group-9 {
  position: relative;
  width: 224px;
  height: 56px;
  background-color: #77acf1;
  border-radius: 48px;
}

.company-profile-TIP .text-wrapper-67 {
  position: absolute;
  top: 17px;
  left: 60px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.9px;
  white-space: nowrap;
}

.company-profile-TIP .iconly-bold-call-wrapper {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 4px;
  left: 4px;
  background-color: #e5f6ff;
  border-radius: 24px;
}

.company-profile-TIP .iconly-bold-call {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 12px;
}

.company-profile-TIP .group-106 {
  position: absolute;
  width: 282px;
  height: 60px;
  top: 40px;
  left: 32px;
}

.company-profile-TIP .whatsapp-image-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.company-profile-TIP .text-wrapper-68 {
  position: absolute;
  top: 19px;
  left: 66px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.9px;
  white-space: nowrap;
}

.company-profile-TIP .navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 28px;
  position: absolute;
  top: 58px;
  left: 457px;
}

.company-profile-TIP .text-wrapper-69 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #77acf1;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.company-profile-TIP .frame-37 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.company-profile-TIP .text-wrapper-70 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #333333;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
